/*Reset Básico*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variáveis*/
:root{
    --cor-primaria: #6d4c41;
    --cor-fundo: #fdfaf6;
    --cor-texto: #333;
    --fonte-padrao: 'Segoe UI', Tahoma, sans-serif;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
    padding: 20px;
}


/*Header*/
header{
    display: flex;
    align-items: center;
    gap: 15px; /*Espaço entre logo e título*/
    padding: 10px 0;
    border-bottom: 2px solid var(--cor-primaria);
}

header img{
    width: 60px;
    height: auto;    
}

header h1{
    color: var(--cor-primaria);
    font-size: 1.9rem;
}